main-nav {
	grid-area: main-nav;

	a {
		margin: 2rem 2rem 0;
		padding-bottom: 1rem;
	}

	.active {
	  border-bottom: 3px solid $color-primary;	
	}

}

side-nav {
	grid-area: side-nav;
	display: none;

	a {
		display: block;
		padding: 1rem 0;
		color: $color-primary;
		margin-bottom: 2rem;
	}

	.active {
		border-bottom: 1px solid #ccc;
	}
}