main-nav {
	grid-area: main-nav;

	a {
		padding: 2rem;
	}

	.active {
	  border-bottom: 3px solid $color-primary;	
	}

}

side-nav {
	grid-area: side-nav;
	display: none;

	a {
		display: block;
		padding: 2rem 0;
	}
}