html {
  font-size: 10px;
}

body {
  background-color: $color-background;
  padding: 5rem;
  font-size: 16px;
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
  color: $color-text;
}

page {
	display: grid;
  	grid-template-areas:
	    "logo main-nav"
	    "side-nav content"
	    "footer footer";

  	grid-template-columns: 36rem auto;
  	gap: 5rem 2rem;
}

code { 
  display: block;
  background-color: #eee;
  padding: 2rem;
}
